# Binaries
**/bin/
bin-int/
obj/
**/cache/**

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.nsight-gfxproj

# Meta Files
**.meta

# File Exceptions
!AssetRegistryCache.hzr